

/* .Navbar {
    background-image: imgNav.png;
} */

ul{
    background-color: #021F54;
    width: 100%;
    height: 50px;
    margin-top: 0;
    padding-top: 12px;
    margin-right: 0;
    padding-right: 20px;
    
}

footer{
    margin-top: 740px;
}